@import './normalize',
        './global',
        './UI';

body {
    background: #FAFAFA;
    color: $color-black;
    font-weight: 500;
    font-family: $font-inter;
    line-height: 140%;
}

button, input, textarea, li, div {
    font-family: $font-inter;
    font-weight: 500;
    line-height: 140%;
}


.vr-wrapper {
    padding-top: 133px;

    @include media($size-sm) {
        padding-top: 115px;
    }
}

// Header
.vr-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 4;

    &__top {
        background: $color-black;
        color: $color-white;

        &-container {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 7.5px 0;
        }

        ul {
            display: flex;
            align-items: center;
            gap: 20px;

            li {
                @include media($size-xl) {
                    &:nth-child(1),
                    &:nth-child(3),
                    &:nth-child(4) {
                        display: none;
                    }
                }
            }
        }

        a {
            padding: 5px 7px;
            display: flex;
            align-items: center;
            gap: 5px;
            border-radius: 12px;
            font-size: 13px;
            @include addTransition();

            &.active, &:hover {
                background: #505050;

                @include media($size-xl) {
                    background: transparent;
                }
            }
        }

        &-right {
            display: flex;
            align-items: center;
            gap: 20px;

            @include media($size-sm) {
                gap: 10px;
            }

            p {
                font-weight: 600;
                font-size: 13px;
                line-height: 140%;
                padding: 5px 11px;
                background: $color-fiolet;
                border-radius: 12px;
                position: relative;
                z-index: 1;
                overflow: hidden;

                @include media($size-xl) {
                    display: none;
                }

                &::before {
                    content: "";
                    position: absolute;
                    width: 58px;
                    height: 59px;
                    left: -6px;
                    top: -50%;
                    z-index: -1;
                    border-radius: 50%;
                    background: $color-pink;
                }
            }
        }
    }

    &__bottom {
        background: $color-white;
        // background: red;

        &-container {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 40px;
            padding: 20px 0;

            @include media($size-xl) {
                gap: 30px;
            }

            @include media($size-sm) {
                gap: 10px;
                padding: 11px 0;
            }
        }

        .category-btn {
            border-radius: 12px;
            width: 50px;
            height: 50px;
            display: flex;
            align-items: center;
            justify-content: center;
            background: $color-pink;
            @include addTransition();
            flex-shrink: 0;
            
            @include media($size-xl) {
                display: none;
            }

            img:nth-child(2) {
                display: none;
            }

            &:hover {
                background: #ffa2b0;
            }

            &.active, &:active {
                background: #E91A39;
            }

            &.active img {
                display: none;

                &:nth-child(2) {
                    display: block;
                }
            }
        }

        .center-block {
            width: 100%;
            display: flex;
            align-items: center;
            gap: 10px;
        }
        
        .logotip {
            width: 189px;
            flex-shrink: 0;
            display: flex;

            @include media($size-xl) {
                width: 161px;
            }

            @include media($size-sm) {
                width: 113px;
            }
            
            img {
                width: 100%;
            }
        }
        
        .search-form {
            display: flex;
            align-items: center;
            width: 100%;
            border: 1px solid $color-divider;
            border-radius: 12px;
            padding-right: 4px;

            &__inp {
                position: relative;
                z-index: 1;
                width: 100%;

                &:nth-child(2) {
                    width: 240px;
                    flex-shrink: 0;

                    @include media($size-2xl) {
                        width: 200px;
                    }

                    @include media($size-xl) {
                        width: 179px;
                    }

                    @include media($size-md) {
                        display: none;
                    }

                    &::before {
                        content: "";
                        position: absolute;
                        left: 0;
                        top: 50%;
                        transform: translateY(-50%);
                        height: 30px;
                        width: 2px;
                        background: $color-divider;

                        @include media($size-xl) {
                            height: 24px;
                        }
                    }
                }

                img {
                    position: absolute;
                    top: 50%;
                    left: 15px;
                    transform: translateY(-50%);
                    z-index: -1;

                    @include media($size-sm) {
                        left: 10px;
                    }
                }

                input {
                    width: 100%;
                    height: 48px;
                    padding: 0 15px 0 49px;
                    font-size: 14px;
                    color: $color-black;

                    @include media($size-sm) {
                        padding: 0 10px 0 44px;
                    }

                    &::placeholder {
                        color: $color-dark-grey;
                    }
                }
            }

            .vr-btn__secondary {
                @include media($size-xl) {
                    width: 40px;
                    height: 40px;
                    padding: 0;
                }

                span {
                    @include media($size-xl) {
                        display: none;
                    }
                }

                img {
                    display: none;

                    @include media($size-xl) {
                        display: block;
                    }
                }
            }
        }

        .right-link {
            display: flex;
            align-items: center;
            gap: 10px;
            flex-shrink: 0;

            @include media($size-xl) {
                display: none;
            }

            a {
                width: 50px;
                height: 50px;
                border-radius: 12px;
                background: $color-light-grey;
                display: flex;
                align-items: center;
                justify-content: center;
                @include addTransition();

                &:hover {
                    background: $color-divider;
                }
            }
        }
    }
}
// Header end

// Bottome navs
.vr-navs {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 4;
    box-shadow: 0 -4px 15px 0 rgba(0, 0, 0, 0.05);
    background: $color-white;
    border-radius: 24px 24px 0 0;
    display: none;

    @include media($size-xl) {
        display: block;
    }

    &__container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 12px 0;

        li {
            display: flex;
        }

        a {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 4px;
            font-size: 12px;
            text-align: center;
            color: $color-dark-grey;

            span {
                line-height: 15px;
            }
        }
    }
}
// Bottome navs end

// Home
.vr-home {
    border-radius: 0 0 60px 60px;
    background: $color-fiolet;
    position: relative;
    z-index: 1;
    overflow: hidden;

    @include media($size-md) {
        border-radius: 0 0 30px 30px;
    }

    &__container {
        padding: 40px 0 129px;

        @include media($size-2xl) {
            padding: 40px 0 100px;
        }

        @include media($size-xl) {
            padding: 40px 0 59px;
        }

        @include media($size-md) {
            padding: 20px 0 41px;
        }

        @include media($size-sm) {
            padding: 20px 0 31px;
        }
    }

    &__content {
        border-radius: 32px;
        padding: 20px 30px 30px;
        max-width: 925px;
        width: 100%;
        background: rgba(255, 255, 255, 0.1);
        border: 1px solid rgba(255, 255, 255, 0.2);
        backdrop-filter: blur(15px) brightness(1.1);
        -webkit-backdrop-filter: blur(15px) brightness(1.1);
        margin: 0 auto;

        @include media($size-md) {
            padding: 20px 10px;
        }

        h1 {
            font-weight: 700;
            font-size: 40px;
            letter-spacing: -0.03em;
            text-align: center;
            color: $color-white;
            margin-bottom: 25px;

            @include media($size-md) {
                font-size: 30px;
            }

            @include media($size-sm) {
                font-size: 22px;
                margin-bottom: 15px;
            }
        }

        ul {
            display: flex;
            justify-content: center;
            gap: 10px;
            flex-wrap: wrap;

            @include media($size-sm) {
                gap: 7px;
            }

            li {
                display: flex;
            }

            a {
                font-size: 14px;
                color: $color-white;
                border: 1px solid #7c68df;
                border-radius: 12px;
                padding: 9px 13px;
                box-shadow: 0 3px 7px 0 rgba(20, 20, 43, 0.04);
                background: rgba(255, 255, 255, 0.1);

                @include media($size-md) {
                    padding: 6px 8px;
                    font-size: 12px;
                    border-radius: 8px;
                }
            }
        }
    }

    .bg-img {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 1280px;
        min-width: 1280px;
        z-index: -1;

        @include media($size-2xl) {
            width: 1000px;
            min-width: 1000px;
        }

        @include media($size-xl) {
            width: 688px;
            min-width: 688px;
        }

        @include media($size-md) {
            width: 440px;
            min-width: 440px;
        }

        @include media($size-sm) {
            width: 340px;
            min-width: 340px;
        }
    }
}
// Home end

// Product
.vr-product {
    margin: 100px 0;

    @include media($size-xl) {
        margin: 80px 0;
    }

    @include media($size-sm) {
        margin: 60px 0;
    }
    
    &__container {
        display: flex;
        flex-direction: column;
        gap: 40px;
    }

    &__content {
        width: 100%;
    }

    .vr-title {
        margin-bottom: 20px;
    }

    &__list {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 20px;

        @include media($size-xl) {
            grid-template-columns: repeat(3, 1fr);
        }

        @include media($size-md) {
            grid-template-columns: repeat(2, 1fr);
        }
    }

    &__card {
        border: 1px solid $color-divider;
        border-radius: 16px;
        padding: 4px 4px 14px;
        background: $color-white;
        
        &-head {
            border-radius: 12px;
            height: 295px;
            width: 100%;
            overflow: hidden;
            position: relative;
            z-index: 1;
            margin-bottom: 10px;

            @include media($size-2xl) {
                height: 225px;
            }

            @include media($size-xl) {
                height: 207px;
            }

            @include media($size-md) {
                height: 201px;
            }

            @include media($size-sm) {
                height: 156px;
            }
            
            .main-img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        
        &-favorite {
            position: absolute;
            top: 22px;
            right: 19px;
            width: 30px;
            height: 30px;
            display: flex;
            align-items: center;
            justify-content: center;
            z-index: 2;

            @include media($size-2xl) {
                top: 15px;
                right: 15px;
            }

            @include media($size-sm) {
                top: 10px;
                right: 10px;
            }

            svg path {
                @include addTransition();

                &:nth-child(2) {
                    display: none;
                }
            }

            &.active, &:hover {
                svg path {
                    display: none;

                    &:nth-child(2) {
                        display: block;
                    }
                }
            }
        }

        &-body {
            display: flex;
            flex-direction: column;
            gap: 10px;
            padding: 0 5px;
        }

        &-title {
            font-weight: 600;
            font-size: 14px;
            line-height: 140%;
            color: $color-black;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        &-info {
            display: flex;
            align-items: center;
            justify-content: space-between;
            
            @include media($size-sm) {
                flex-direction: column;
                align-items: flex-start;
            }
        }

        &-seller {
            display: flex;
            align-items: center;
            gap: 7px;
            min-height: 35px;

            @include media($size-2xl) {
                min-height: 34px;
            }

            @include media($size-sm) {
                min-height: 32px;
            }

            div:not(.vr-product__card-avatar) {
                @include media($size-sm) {
                    display: flex;
                    flex-direction: column-reverse;
                }
            }
        }

        &-avatar {
            width: 30px;
            height: 30px;
            border-radius: 50%;
            overflow: hidden;
            background: $color-pink;
            flex-shrink: 0;

            @include media($size-sm) {
                width: 24px;
                height: 24px;
            }

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        
        &-name {
            font-size: 13px;
            line-height: 120%;
            color: $color-dark-grey;

            @include media($size-sm) {
                font-size: 12px;
            }
        }

        &-tag {
            font-weight: 700;
            font-size: 10px;
            line-height: 120%;
            text-transform: uppercase;
            color: $color-white;
            border-radius: 5px;
            padding: 2px 3px;
            background: $color-fiolet;
            margin-top: 2px;
            display: inline-block;

            @include media($size-sm) {
                margin: 2px 0 0;
            }
        }

        &-star {
            width: 22px;
            flex-shrink: 0;
        }

        &-rating {
            display: flex;
            align-items: center;

            @include media($size-sm) {
                padding-left: 31px;
            }

            &__text {
                font-size: 13px;
                line-height: 120%;
                color: $color-dark-grey;
                
                span {
                    font-weight: 400;
                    font-size: 12px;
                    line-height: 100%;
                }
            }
        }

        &-bottom {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        &-price {
            font-weight: 600;
            font-size: 20px;
            line-height: 120%;
            letter-spacing: -0.03em;
            color: $color-black;
        }

        &-period {
            font-size: 12px;
            line-height: 100%;
            color: $color-grey;
        }

        &-add {
            width: 40px;
            padding: 0;
        }
    }
}
// Product end

// Anons
.vr-anons {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    @include media($size-xl) {
        grid-template-columns: repeat(2, 1fr);
    }

    &__item {
        background: $color-fiolet;
        border-radius: 32px;
        overflow: hidden;
        position: relative;
        z-index: 1;
        padding: 20px 25px;
        min-height: 130px;
        border: 1px solid $color-white;

        @include media($size-sm) {
            min-height: 100px;
            border-radius: 24px;
            padding: 15px 19px;
            border-width: 0.77px;
        }

        &:nth-child(1) {
            grid-column: span 2;

            .main-img {
                right: 32px;
                bottom: -58px;
                height: auto;
                top: auto;

                @include media($size-md) {
                    width: 166px;
                    bottom: -20px;
                    right: -23px;
                }

                @include media($size-sm) {
                    width: 128px;
                    right: -18.35px;
                    bottom: -15.85px;
                }
            }
        }

        &:nth-child(2) {
            grid-row: span 2;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding: 20px 35px 25px;

            @include media($size-2xl) {
                padding-left: 30px;
            }

            @include media($size-xl) {
                grid-row: span 1;
                grid-column: span 2;
                order: 2;
                height: 167px;
                padding: 20px 25px;
            }

            @include media($size-sm) {
                gap: 15px;
                height: auto;
                padding: 15px 19px;
            }

            h3 {
                @include media($size-xl) {
                    max-width: 233px;
                }

                @include media($size-sm) {
                    max-width: 123px;
                }
            }

            .main-img {
                bottom: -12.44px;
                right: -19.26px;
                height: auto;
                top: auto;

                @include media($size-xl) {
                    width: 188px;
                    right: 28px;
                    bottom: -30px;
                }

                @include media($size-sm) {
                    width: 145px;
                    right: 21px;
                    bottom: -23px;
                }
            }

            .circle-img {
                left: -363px;
                bottom: -51.5px;

                @include media($size-2xl) {
                    bottom: -27.5px;
                    left: -303px;
                }

                @include media($size-xl) {
                    right: -133px;
                    top: -409.5px;
                    bottom: auto;
                    left: auto;
                }

                @include media($size-md) {
                    right: -153px;
                    top: -326.5px;
                }

                @include media($size-sm) {
                    right: -118.23px;
                    top: -251.6px;
                }
            }

            .sm-circle {
                z-index: -1;
                right: -65px;
                bottom: -38px;
                top: auto;
                left: auto;
                z-index: 1;
            }
        }

        &:nth-child(3) {
            @include media($size-xl) {
                padding: 25px;
            }

            @include media($size-sm) {
                padding: 19px;
            }
            
            .sm-circle {
                left: -33px;
                top: -58px;
                bottom: auto;

                @include media($size-sm) {
                    top: -33.61px;
                    left: -25.5px;
                }
            }

            .main-img {
                right: -46.8px;
                bottom: -53.75px;
                width: 227px;
                height: auto;
                top: auto;

                @include media($size-md) {
                    width: 141px;
                    right: -46px;
                    bottom: -14px;
                }

                @include media($size-sm) {
                    width: 109px;
                    right: -35px;
                    bottom: -11px;
                }
            }
        }

        &:nth-child(4) {
            @include media($size-xl) {
                padding: 25px;
            }

            @include media($size-sm) {
                padding: 19px;
            }

            .circle-img {
                left: auto;
                right: -181px;
                bottom: -51.5px;

                @include media($size-2xl) {
                    bottom: -27.5px;
                    right: -133px;
                }

                @include media($size-md) {
                    right: -153px;
                    bottom: -20px;
                }

                @include media($size-sm) {
                    bottom: -15.45px;
                    right: -118.23px;
                }
            }

            h3 {
                max-width: 278px;

                @include media($size-sm) {
                    max-width: 75px;
                }
            }

            .main-img {
                bottom: -64px;
                right: -57px;
                height: auto;
                top: auto;

                @include media($size-md) {
                    width: 107px;
                    min-width: 144px;
                    right: -48px;
                    bottom: -18px;
                }

                @include media($size-sm) {
                    width: 112px;
                    min-width: 112px;
                    right: -37px;
                    bottom: -14px;
                }
            }
        }

        h3 {
            font-weight: 700;
            font-size: 30px;
            line-height: 120%;
            letter-spacing: -0.03em;
            color: $color-white;
            position: relative;
            z-index: 1;

            @include media($size-2xl) {
                font-size: 26px;
            }

            @include media($size-md) {
                font-size: 20px;
            }

            @include media($size-sm) {
                font-size: 15px;
                max-width: 123px;
            }
        }

        .main-img {
            position: absolute;
            right: 32px;
            top: 0;
            height: 100%;
        }

        .circle-img {
            position: absolute;
            z-index: -1;
            width: 544px;
            min-width: 544px;
            height: auto;
            aspect-ratio: 1 / 1;
            right: -181px;
            bottom: -181.5px;
            
            @include media($size-2xl) {
                width: 436px;
                min-width: 436px;
                bottom: -157.5px;
                right: -133px;
            }
            
            @include media($size-md) {
                width: 345px;
                min-width: 345px;
                bottom: -150px;
                right: -153px;
            }

            @include media($size-sm) {
                width: 266.59px;
                min-width: 266.59px;
                bottom: -115.91px;
                right: -118.23px;
            }
        }

        .sm-circle {
            position: absolute;
            z-index: -1;
            width: 115px;
            min-width: 115px;
            height: auto;
            aspect-ratio: 1 / 1;
            left: -33px;
            bottom: -57px;

            @include media($size-sm) {
                width: 66.45px;
                min-width: 66.45px;
                left: -25.5px;
                bottom: -32.84px;
            }
        }

        .links {
            display: flex;
            align-items: center;
            position: relative;
            z-index: 1;
            gap: 10px;

            a {
                display: flex;
                align-items: center;
                gap: 1px;
                border: 1.07px solid $color-divider;
                border-radius: 8px;
                padding: 0 9px;
                height: 45px;
                background: $color-white;

                &:nth-child(2) {
                    gap: 10px;
                }

                span {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    font-size: 10px;
                    line-height: 120%;
                    letter-spacing: -0.03em;
                    color: #000;
                }
            }
        }
    }
}
// Anons end

// Footer
.vr-footer {
    padding: 60px 0 25px;
    background: $color-black;
    color: $color-white;

    @include media($size-xl) {
        padding: 60px 0 97px;
    }

    @include media($size-sm) {
        padding: 40px 0 97px;
    }

    &__container {
        display: flex;
        flex-direction: column;
        gap: 50px;

        @include media($size-sm) {
            gap: 40px;
        }
    }

    &__logo {
        font-weight: 700;
        font-size: 30px;
        line-height: 140%;
        letter-spacing: -0.03em;
        color: $color-white;
    }

    &__head {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;

        @include media($size-xl) {
            flex-direction: column;
            width: 100%;
            gap: 40px;
        }

        @include media($size-sm) {
            gap: 30px;
        }
    }

    &__right {
        display: flex;
        align-items: flex-start;
        gap: 136px;

        @include media($size-2xl) {
            gap: 103px;
        }

        @include media($size-xl) {
            width: 100%;
            justify-content: space-between;
            gap: 25px;
        }

        @include media($size-md) {
            flex-wrap: wrap;
            gap: 40px 25px;
        }

        @include media($size-sm) {
            flex-direction: column;
            gap: 20px;
        }

        &-item {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 20px;

            &:nth-child(3) {
                gap: 10px;

                @include media($size-md) {
                    flex-direction: row;
                }

                @include media($size-sm) {
                    padding-top: 10px;
                }
            }

            a:not(.link-btn) {
                font-size: 13px;
                line-height: 140%;
                color: $color-white;
            }

            p {
                font-size: 13px;
                line-height: 140%;
                color: $color-white;
                border-radius: 12px;
                padding: 5px 11px;
                background: $color-fiolet;
                position: relative;
                z-index: 1;
                overflow: hidden;

                &::before {
                    content: "";
                    position: absolute;
                    width: 58px;
                    min-width: 58px;
                    height: 59px;
                    border-radius: 100%;
                    background: $color-pink;
                    left: -6px;
                    top: 50%;
                    transform: translateY(-50%);
                    z-index: -1;
                }
            }

            .link-btn {
                border: 1.07px solid $color-divider;
                border-radius: 8px;
                width: 126px;
                height: 45px;
                background: $color-white;
                display: flex;
                align-items: center;
                justify-content: flex-start;
                gap: 1px;
                padding-left: 10px;

                &:nth-child(2) {
                    gap: 10px;
                }

                span {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    font-size: 10px;
                    line-height: 120%;
                    letter-spacing: -0.03em;
                    text-align: center;
                    color: #000;
                }
            }
        }
    }

    &__bottom {
        padding-top: 25px;
        border-top: 1px solid $color-dark-grey;

        p {
            font-family: $font-cofo-sans;
            font-weight: 400;
            font-size: 16px;
            line-height: 140%;
            color: $color-grey;
        }
    }
}
// Footer end